<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h1><%- title %></h1>
<% 
  if (locals.accountData.account_type.toLowerCase() === "client"){
    %>
  <h2>Welcome $<%-locals.accountData.account_firstname%></h2>
  <%
  } else if (accountData.account_type.toLowerCase() === "admin" || accountData.account_type.toLowerCase() === "employee"){
  %>
  <h2>Welcome <%- locals.accountData.account_firstname %></h2>
  <a title="Update Account Information" href="/account/update/<%- accountData.account_id %>">Update Account Information</a>  
  <h2>Inventory Management</h2>
  <a title="Manage Inventory" href="/inv/">Manage Inventory</a>
  <%
  }
  if (isAuthenticated) {
    %>
    <h2>Your Reviews:</h2>
    <%-
    reviews
    %><%
  }
%>

