<!-- Check for a heading and display a heading and title if exists -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <% if (title) { %>
    <h1><%- title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>
<div class="center-container">
  <div class="form-container">
    <form action="/inv/add-inventory" method="post">
      <label for="inv_classification">Classification:</label>
        <%- dropDown %>
      <br>
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" value="<%- locals.inv_make %>" required>
      <br>
      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model"  value="<%- locals.inv_model %>" required>
      <br>
      <label for="inv_year">Year:</label>
      <input type="text" id="inv_year" placeholder="2001" name="inv_year" pattern="\d{4}"  value="<%- locals.inv_year %>" required>
      <br>
      <label for="inv_description">Description:</label>
      <textarea id="inv_description" placeholder="Minimum 20 characters" name="inv_description" minlength="20" required><%- locals.inv_description %></textarea>
      <br>
      <label for="inv_image">Image URL:</label>
      <input type="text" id="inv_image" name="inv_image" value="<%- locals.inv_make || '/images/vehicles/no-image.png' %>" required>
      <br>
      <label for="inv_thumbnail">Thumbnail URL:</label><input type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%- locals.inv_thumbnail || '/images/vehicles/no-image-tn.png' %>" required>
      <br>
      <label for="inv_price">Price:</label>
      <input type="text" id="inv_price" name="inv_price" placeholder="Price in whole dollars" pattern="[0-9]+" value="<%- locals.inv_price %>" required>
      <br>
      <label for="inv_miles">Mileage:</label>
      <input type="text" id="inv_miles" name="inv_miles" placeholder="No decimals" pattern="\d+" value="<%- locals.inv_miles %>" required>
      <br>
      <label for="inv_color">Color:</label>
      <input type="text" id="inv_color" name="inv_color" placeholder="Silver" pattern="^[a-zA-Z\s]+$" value="<%- locals.inv_color %>" required >
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>