<!-- Check for a heading and display a heading and title if exists -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <% if (title) { %>
    <h1><%- title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>
<div class="center-container">
  <div class="form-container">
    <form action="/inv/delete/" method="post" id="deleteForm">
      <label for="inv_classification">Classification:</label>
        <%- dropDown %>
      <br>
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" value="<%- locals.inv_make %>" required>
      <br>
      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model"  value="<%- locals.inv_model %>" readonly>
      <br>
      <label for="inv_year">Year:</label>
      <input type="text" id="inv_year" name="inv_year" value="<%- locals.inv_year %>" readonly>
      <br>
      <label for="inv_price">Price:</label>
      <input type="text" id="inv_price" name="inv_price" value="<%- locals.inv_price %>" readonly>
      <button type="submit">Delete Vehicle</button>
      <p>Confirm Deletion - The delete is permanent.</p>
      <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
      <% } %>>

    </form>
  </div>
</div>
